<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string><![CDATA[https://www.bfg123.com/CSR201802190438XHHWJI-resigned.ipa?OSSAccessKeyId=QoA0RoJkVznFZAxs&Expires=1519301889&Signature=%2Fp2D205WfSACq%2FjmC%2F0F1SdesMQ%3D]]></string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.ydb.ipa</string>
                    <key>bundle-version</key>
                    <string>2.0.5</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>避风港</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>